<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
    
    <body>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="Upload" />
        </form>

        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="error">
            {% for msg in errors %}
            <p>{{ msg }}</p>
            {% endfor -%}
        </div>
        {% endif %}
        {% endwith %}

        {% with status_ok = get_flashed_messages(category_filter=["status_ok"]) %}
        {% if status_ok %}
        <div class="status_ok">
            {% for msg in status_ok %}
            <p>{{ msg }}</p>
            {% endfor -%}
        </div>
        {% endif %}
        {% endwith %}

        {#
            {% if images %}

            <ul class="images">
            {% for img in images %}
                <li>{{ img }}</li>
                <img src="{{ upload_dir }}{{ img }}" alt="{{ img }}" style="width:304px;height:228px;">
            {% endfor %}
            </ul>
            {% endif %}
        #}

        {% if images %}
        <div class="container-fluid" style="max-width: 90%;">
        <section class="row">
            {% for img in images %}
            <div class="col-xs-6 col-sm-3 col-md-3 test">
                <img src="{{ upload_dir }}{{ img }}" alt="{{ img }}" style="width:304px;height:228px;">
            </div>
            {% endfor %}
        </section>
        </div>
        {% endif %}



    </body>
</html>