<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
    
    <body>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.image }}
            <input type="submit" value="Upload" />
        </form>

        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="error">
            {% for msg in errors %}
            <p>{{ msg }}</p>
            {% endfor -%}
        </div>
        {% endif %}
        {% endwith %}

        {% with status_ok = get_flashed_messages(category_filter=["status_ok"]) %}
        {% if status_ok %}
        <div class="status_ok">
            {% for msg in status_ok %}
            <p>{{ msg }}</p>
            {% endfor -%}
        </div>
        {% endif %}
        {% endwith %}

        {% if form.errors %}
            <div class="status_ko">
                {% for type,error in form.errors.items() %}
                    <p>{{ error|join('') }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% if dictionnary %}
            {% for img, thumb in dictionnary.items() %}
            <div class="col-xs-6 col-sm-3">
                <a href="{{ url_for('upload_file', filename=img) }}" class="thumbnail" >
                    <img src="{{ url_for('thumbn_file', filename=thumb) }}" alt="{{ thumb }}" class="test">
                </a>
            </div>
            {% endfor %}
        {% endif %}



    </body>
</html>