<div class="bckgnrd-color jumbotron">
    <h1>Upload your images !</h1>
    <p>Browse your files locally, upload your images and enjoy them in a gallery. Clic on an image to see it in a carousel !</p>
    <br/>
    <p>Website powered by <span class="heart">♥</span> and</p>
    <ul>
        <li>Python3</li>
        <li>Flask</li>
        <li>Bootstrap3</li>
        <li>JQuery2</li>
        <li>ludovicscribe/bootstrap-gallery</li>
        <li>kartik-v/bootstrap-fileinput</li>                
    </ul>
</div>